<mat-card class="article-card">
    <mat-card-header>
        <mat-card-title>
            <h1>{{article.title}}</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <h3>{{article.author}}</h3>
        <h4>{{article.place}} {{article.dateBengali}}</h4>
        <img src="{{article.articleImage}}" class="responsive">
        <mat-card *ngIf= "article.content">
            <p style="white-space: pre-line">{{article.content}}</p>
        </mat-card>
        <mat-card *ngIf = "article.youtubeLink">
            <iframe id="ytplayer" type="text/html" width="640" height="360" [src]="video | safe" frameborder="0"></iframe>
        </mat-card>
    </mat-card-content>
</mat-card>