<div class="container">
    <ul>
      <li *ngFor="let article of articles">
        <h3>{{article.title}}</h3>
      </li>
      <li>
        <h2>Head line 1</h2>
        <p>News detail just a line jhghdsbd hsdssdhjhdjshdjsahdjs</p>
      </li>
      <li>
        <h2>Head line 2</h2>
        <p>News detail just a line jhghdsbd hsdssdhjhdjshdjsahdjs</p>
      </li>
      <li>
        <h2>Head line 3</h2>
        <p>News detail just a line jhghdsbd hsdssdhjhdjshdjsahdjs</p>
      </li>
      <li>
        <h2>Head line 4</h2>
        <p>News detail just a line jhghdsbd hsdssdhjhdjshdjsahdjs</p>
      </li>
      <li>
        <h2>Head line 5</h2>
        <p>News detail just a line jhghdsbd hsdssdhjhdjshdjsahdjs</p>
      </li>
      <li>
        <h2>Head line 6</h2>
        <p>News detail just a line jhghdsbd hsdssdhjhdjshdjsahdjs</p>
      </li>
      <li>
        <h2>Head line 7</h2>
        <p>News detail just a line jhghdsbd hsdssdhjhdjshdjsahdjs</p>
      </li>
      <li>
        <h2>Head line 8</h2>
        <p>News detail just a line jhghdsbd hsdssdhjhdjshdjsahdjs</p>
      </li>
      
    </ul>
  </div>
  <!-- <ul>
    <li *ngFor="let article of articles">
      <h2>{{article.title}}</h2>
    </li>
  </ul> -->