<!-- <div class="toolbar" role="banner">
    <a href="#home">
        <img width="80" alt="Angular Logo" src="../assets/Images/Logo.jpg" /></a>
        <button mat-button [matMenuTriggerFor]="menus">Menus</button>
    <div *ngFor="let mainMenu of mainMenus">
        <div class="dropdown">
            <button class="dropbtn">{{mainMenu.title}}
                <i class="material-icons">
                    keyboard_arrow_down
                </i>
            </button>
            <div class="dropdown-content">
                <span mat-button *ngFor="let ddMenu of ddMenus"> <a *ngIf="ddMenu.mainMenu == mainMenu.title" (click)="gotoMenu(mainMenu.title, ddMenu.title)">{{ddMenu.title}}</a></span>
            </div>
        </div>
    </div>
</div> -->



<mat-menu #menus="matMenu">
  <button mat-menu-item *ngFor="let mainMenu of mainMenus" (mouseenter)="setMainMenu(mainMenu.title)" [matMenuTriggerFor]= "ddmenus">{{mainMenu.title}}</button>
</mat-menu>

<mat-menu #ddmenus ="matMenu">
    <span *ngFor="let ddMenu of ddMenus"><button mat-button *ngIf="ddMenu.mainMenu == refMenu" (click)="gotoMenu(refMenu, ddMenu.title)">{{ddMenu.title}}</button></span>
</mat-menu>

<div class="content">
    <router-outlet></router-outlet>
</div>