<div class="toolbar" role="banner">
    <!-- <a href="#home">
        <img width="80" alt="Angular Logo" src="../assets/Images/Logo.jpg" /></a> -->
    <!-- <div *ngFor="let mainMenu of mainMenus">
        <div class="dropdown">
            <button class="dropbtn">{{mainMenu.title}}
                <i class="material-icons">
                    keyboard_arrow_down
                </i>
            </button>
            <div class="dropdown-content">
                <span *ngFor="let ddMenu of ddMenus"><a *ngIf="ddMenu.mainMenu == mainMenu.title" (click)="gotoMenu(mainMenu.title, ddMenu.title)">{{ddMenu.title}}</a></span>
            </div>
        </div>
    </div> -->
</div>



<div class="content">
    <router-outlet></router-outlet>
</div>