.edit-artcle-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDF5E1;
}
.image-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;

}
.title-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;

}
.author-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;

}
.content-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;

}
.menu-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;

}
.example-spacer {
    flex: 1 1 auto;
  }

.mat-select{
    border: 1px solid black;
}