
<mat-card  [ngClass]="isMobile ? 'top-card-mobile': 'top-card'">
    <div>
        <h2> <i class="material-icons">
            grade
            </i> {{ddMenu}} টপ নিউজ </h2>
        <button mat-button (click)="showTopArticle(topNewsArticle.title)">
            <img src="{{topNewsArticle.articleImage}}" style="width:100%; height:auto">
            <!-- <img *ngIf = "isMobile" src="{{topNewsArticle.articleImage}}" style="width:70%; height:auto"> -->

            
        </button>
        <h2 mat-button (click)="showTopArticle(topNewsArticle.title)">{{topNewsArticle.title}}</h2>
    </div>
    <div>
        <h2><i class="material-icons">
                reorder
            </i> নিউজ ফ্ল্যাশ <i class="material-icons">
                offline_bolt
                </i></h2>
        <app-news-flash></app-news-flash>
    </div>

</mat-card>
<div class="mat-elevation-z8">

    
    

    <mat-card [ngClass]="mobile ? 'card-mobile': 'card-normal'">
        <mat-toolbar>
            <mat-toolbar-row>
                
                <span class="example-spacer"></span>
                <mat-form-field class="tableFilter">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="সার্চ">
                </mat-form-field>
              </mat-toolbar-row>
            </mat-toolbar>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

        <ng-container matColumnDef="image">
            <td mat-cell *matCellDef="let element"  mat-button (click)="showArticle(element.title)" style="width: 30%;"> <img src="{{element.articleImage}}" width="100%"> </td>
        </ng-container>
        
        <ng-container matColumnDef="title">
            <td mat-cell *matCellDef="let element"  mat-button (click)="showArticle(element.title)" style="padding: 1%;"> 
                <table>
                    <tr>
                        <td>
                            {{element.place}}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h3>{{element.title}}</h3>
                        </td>
                    </tr>

                    <tr><td></td></tr>
                    <tr></tr>
                    <tr>
                        <td>
                            {{element.author}}
                        </td>
                    </tr>
                </table>
            </td>
        </ng-container>



        <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr> -->
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card>
</div>
