article-table-card{
  display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDF5E1;
}
table {
    width: 100%;
    border: #777;
    overflow: scroll;
    /* text-align: center; */
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  

  .mat-header-cell{
    text-align: center;
    font-weight: bold;
    font-size: 16px;

  }
  .mat-sort-header{
    text-align: center;
  }
  .mat-cell{
    text-align: center;
    font-weight: bold;
  }
  
  .tableFilter{
    width: 50%;
    padding-left: 5%;
  }
  .createButton{
    float: right;
    margin: 1%;
    font-weight: bold;
    background-color: green;
    color: white;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  
  