<mat-toolbar color="primary">
    <h1>দ্য বেঙ্গল নিউজ অ্যাডমিন</h1>
    <span class="example-spacer"></span>
<div class="form-group" style="text-align: center;">
<button mat-flat-button color="warn" (click)="logout()">লগ আউট </button>
</div>
</mat-toolbar>

<div class="dashboard-card">
  <div class="group-card">
    <mat-card class="tile-card" style="background-color: #99cfe0; color: red;">
      <button mat-button (click)="openArticles()">
        <h1>প্রতিবেদন <i class="material-icons">
            assignment
          </i></h1>

      </button>
    </mat-card>

    <mat-card class="tile-card" style="background-color: #add8e6; color: red;">
      <button mat-button (click)="openKeywords()">
        <h1>কীওয়ার্ড <i class="material-icons">
            sort_by_alpha
          </i></h1>
      </button>
    </mat-card>

    
  </div>
  <div class="group-card">
    <mat-card class="tile-card" style="background-color: #e0ab99; color: blue;">
      <button mat-button (click)="openMenus()">
        <h1>মেনু <i class="material-icons">
            featured_play_list
          </i></h1>

      </button>
    </mat-card>

    <mat-card class="tile-card" style="background-color: #d4ebf2; color: red;">
      <button mat-button (click)="openSocial()">
        <h1>সোশ্যাল মিডিয়া  <i class="material-icons">
            add_photo_alternate
          </i></h1>
      </button>
    </mat-card>

  </div>
</div>