.dashboard-card{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    background-color: #EDF5E1;
    margin-top: 5%;
}

.group-card{
    display: flex;
    flex-direction: column;
}
.tile-card{
    margin-bottom: 2%;
    /* width: 50px; */
}

.example-spacer {
    flex: 1 1 auto;
  }